<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="_content/CraftBlent/css/craftblent.min.css" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Craft.Blent.MaterialDemo.styles.css" />
    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/CraftBlent/js/craftblent.min.js"></script>
</body>

</html>
