@page "/components/hidden"

@using Craft.Blent.Components.Hidden
@using Craft.Blent.Services.Browser

<h3>Hidden Demo</h3>

<p>This is a demo of the <code>BlentHidden</code> component.</p>

<BlentHidden Breakpoint="Breakpoint.FullHD" Invert="true">
    <p>Full HD</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.Widescreen" Invert="true">
    <p>Wide Screen</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.Desktop" Invert="true">
    <p>Desktop</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.Tablet" Invert="true">
    <p>Tablet</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.Mobile" Invert="true">
    <p>Mobile</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.ExtraSmall" Invert="true">
    <p>Extra Small</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.XlAndUp" Invert="true">
    <p>XL and Up</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.LgAndUp" Invert="true">
    <p>LG and Up</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
    <p>MD and Up</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
    <p>SM and Up</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.XlAndDown" Invert="true">
    <p>XL and Down</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.LgAndDown" Invert="true">
    <p>LG and Down</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.MdAndDown" Invert="true">
    <p>MD and Down</p>
</BlentHidden>

<BlentHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
    <p>SM and Down</p>
</BlentHidden>

@code {

}
